asn1crypto==1.5.1
Brlapi==0.8.6
dbus-python==1.4.0
distro==1.9.0
gyp-next==0.16.2
html5lib-modern==1.2
kali-tweaks==2023.3.2
lightdm-gtk-greeter-settings==1.2.3
louis==3.33.0
mechanize==0.4.10
netifaces==0.11.0
numpy==2.2.4
onboard==1.4.1
opencv==4.10.0
packaging==25.0
pexpect==4.9.0
psutil==7.0.0
ptyprocess==0.7.0
PyAudio==0.2.13
pycairo==1.27.0
PyGObject==3.50.0
PyQt5==5.15.11
PyQt5_sip==12.17.1
PyQtWebEngine==5.15.7
python-apt==3.0.0
python-xlib==0.33
pyxdg==0.28
urllib3==2.3.0
webencodings==0.5.1
wheel==0.46.1
xdg==5
